html {
	position:relative;
}
body {
	color: #5a5a5a;
	background:#f9f9f9;
	margin:50px 0 171px;
	font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
	color:#23879E;
}
a:hover {
	color:#0B5567;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
[name^="Description"] {
	margin: -100% 0 0;
	position: absolute;
}
.vanish {
	width: 0;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar .navbar-nav>li>a, .navbar .navbar-brand {
	color: #ccc;
	height: 50px;
	line-height: 22px;
}
.navbar .navbar-nav>li>a {
	font-size: 18px;
}
.navbar .navbar-brand  {
	font-size: 24px;
}
.navbar-brand  img {
	margin: -13px 0 -7px;
}
.navbar .navbar-nav>li.active>a {
	color:#f93;
	text-shadow: #6C3806 0px 1px 0px;
}
.nav .caret, .nav a:hover .caret {
	border-top-color: #FF9833;
	border-bottom-color: #FF9833;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
	height: 250px;
	background: -webkit-linear-gradient(bottom, #0B5567 0%, #23879E 100%);
	background: -o-linear-gradient(bottom, #0B5567 0%, #23879E 100%);
	background: -ms-linear-gradient(bottom, #0B5567 0%, #23879E 100%);
	background: -moz-linear-gradient(bottom, #0B5567 0%, #23879E 100%);
	background: linear-gradient(to top, #0B5567 0%, #23879E 100%);
	margin-bottom: -50px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  	z-index: 10;
  	position:static;
  	text-align:left;
  	padding-top:50px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  	height: 200px;
}
.carousel-inner > .item > img {
  	position: absolute;
  	top: 0;
  	left: 0;
  	min-width: 100%;
  	height: 200px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}


#sidebar.affix {
  	position: static;
}
@media (min-width: 992px) {
  	#sidebar .nav > .active > ul {
    		display: block;
  	}
	/* Widen the fixed sidebar */
  	#sidebar.affix,
	#sidebar.affix-bottom {
    		width: 198px;
  	}
	#sidebar.affix {
		position: fixed; /* Undo the static from mobile first approach */
		top: 70px;
  	}
	#sidebar.affix-bottom {
		position: absolute; /* Undo the static from mobile first approach */
	}
	#sidebar.affix-bottom .tocify,
	#sidebar.affix .tocify {
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media (min-width: 1200px) {
	/* Widen the fixed sidebar again */
	#sidebar.affix-bottom,
	#sidebar.affix {
    	width: 248px;
	}
}
.nav-menu {
    border: 1px solid #e9e9e9;
    webkit-border-radius: 6px;
    moz-border-radius: 6px;
    border-radius: 6px;
	background:#f6f6f6;
    overflow: hidden;
}
.tocify {
    max-height: 80%;
    overflow: auto;
}
.tocify-subheader {
    display: none;
}
.tocify-subheader>li>a {
    padding-left: 25px;
}
.tocify-subheader li {
    font-size: 12px;
}
.tocify-subheader .tocify-subheader>li>a {
    padding-left: 30px;
}
.tocify-subheader .tocify-subheader .tocify-subheader>li>a {
    padding-left: 40px;
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus, 
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #23879E;
}
.demoFrame {
	width:100%;
	border:none;
}
#main {
	background:#f9f9f9;
	position: relative;
	padding: 30px;
	border-top: 5px solid #FF9833;
	margin-top: -5px;
}
.box {
	background: #fff;
	padding: 15px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	overflow: hidden;
	zoom: 1;
}
div + .box {
	margin-top:30px;
}
.box > h3 {
	border-bottom:3px solid #ff9833;
	margin:0 0 15px;
}
#main h1 {
	padding-bottom: 9px;
	margin: 0 0 20px;
	border-bottom: 1px solid #eee;
}
.post h3 {
	margin:0 0 15px;
}
.post .thumbnail {
	margin: 0 15px 10px 0;
}
.post .post_meta {
	background:#f3f3f3;
	padding:10px;
	margin:15px -15px -15px;
}
footer {
	padding-top: 40px;
	padding-bottom: 30px;
	color: #777;
	border-top: 1px solid #eee;
	background: #f5f5f5;
	position: absolute;
	left:0;
	right:0;
	bottom:0;
}
#disqus_thread {
	overflow: hidden;
}
#disqus_thread iframe{
	margin-bottom: -60px;
}
.social-buttons {
	display: inline-block;
	padding: 0;
	list-style: none;
	float:right;
}
.social-buttons li {
	display: inline-block;
	line-height: 1;
	padding: 0;
}
.social-buttons .btn {
	font: normal normal bold 13px 'Helvetica Neue',Arial,sans-serif;
	height:28px;
	padding:6px;
}
.social-buttons .fa-google-plus-square {
	color:#DD4B39;
	font-size: 18px;
	margin: -2px 6px -8px 0;
	float: left;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}
.twitter-typeahead .tt-hint
{
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #ccc;
}
.gs-watermark, .gsc-resultsHeader, .gsc-tabsAreaInvisible, .gs-visibleUrl-short, .gsc-url-top, .gsc-thumbnail-inside {
	display: none; 
}
.gsc-result {
	margin-top: 15px;
}
.gsc-result td {
	vertical-align: top;
}
.gs-title {
	font-size: 24px;
}
.gsc-input {
	width: 100%;
}
.gs-visibleUrl-long {
	color: #468847;
}
input.gsc-input{
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px 0 0 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input.gsc-search-button {
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#2d6ca2));
	background-image: -webkit-linear-gradient(top,#428bca 0,#2d6ca2 100%);
	background-image: -moz-linear-gradient(top,#428bca 0,#2d6ca2 100%);
	background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff2d6ca2',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
	color: #fff;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #2b669a;
	border-radius: 0 4px 4px 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
table.gsc-search-box {
	width:100%;
}
.gsc-branding {
	float:right;
}
.gsc-cursor {
	display: inline-block;
	margin: 20px 0;
	border-radius: 4px;
}
.gsc-cursor-page {	
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	cursor:pointer;
}
.gsc-cursor-page:hover, .gsc-cursor-page:focus {
	background-color: #eee;
}
.gsc-cursor-current-page, .gsc-cursor-current-page:hover, .gsc-cursor-current-page:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #428bca;
	border-color: #428bca;
	cursor:default;
}
.gsc-cursor>.gsc-cursor-page:first-child {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.gsc-cursor>.gsc-cursor-page:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.gs-image-box {
	margin: 3px 9px 0 0;
}
.gs-image img {
	width:60px;
}
a.gs-image {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
	box-shadow: 0 1px 2px rgba(0,0,0,0.075);
	display: inline-block;
	display: block;
	height: auto;
	max-width: 100%;
	padding: 4px;
	line-height: 1.428571429;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
