html {
	min-height: 100%;
	position: relative;
}
body {
	color: #5a5a5a;
	/*
	background: url(../images/bg.jpg) no-repeat fixed center top #f9f9f9;
	background-size: 100% auto;
	*/
	background: #f9f9f9;
	margin:80px 0 171px;
	font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	min-height: 100%;
}
a {
	color:#cc6633;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
}
a:hover {
	color:#A65B11;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.title {
	color:#cc6633;
	font-size:16px;
}
.container {
	width: 100%;
	padding: 0 30px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
	border: none;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	border-color: #6C3806;
}
.navbar .navbar-nav>li>a, .navbar .navbar-nav>li.active>a {
	background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222 50%, rgb(188, 113, 38) 50%, rgb(245, 147, 49) 91%, rgb(254, 152, 51) 100%);
	background-image: -o-linear-gradient(top, #3c3c3c 0%, #222 50%, rgb(188, 113, 38) 50%, rgb(245, 147, 49) 91%, rgb(254, 152, 51) 100%);
	background-image: -ms-linear-gradient(top, #3c3c3c 0%, #222 50%, rgb(188, 113, 38) 50%, rgb(245, 147, 49) 91%, rgb(254, 152, 51) 100%);
	background-image: -moz-linear-gradient(top, #3c3c3c 0%, #222 50%, rgb(188, 113, 38) 50%, rgb(245, 147, 49) 91%, rgb(254, 152, 51) 100%);
	background-image: linear-gradient(top, #3c3c3c 0%, #222 50%, rgb(188, 113, 38) 50%, rgb(245, 147, 49) 91%, rgb(254, 152, 51) 100%);
	background-repeat: repeat;
}
.navbar .navbar-nav>li>a {
	color:#ddd;
	font-size: 18px;
	background-size:100% 200%;
	padding-top:30px;
	padding-bottom:30px;
}
.navbar .navbar-nav>li.active>a {
	color:#FF9833;
	text-shadow: #6C3806 0px 1px 0px;
	background-position: 0 2px;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-top-color: #ddd;
	border-bottom-color: #ddd;
}
.navbar-inverse .navbar-nav>.dropdown.active>a .caret {
	border-top-color: #FF9833;
	border-bottom-color: #FF9833;
}
.navbar .navbar-nav>li:hover>a {
	background-position:0 -100%;
	color:#fff;
	text-shadow: #c60 0px 1px 0px;
}
.navbar .navbar-nav>li.active:hover>a {
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar-brand {
	padding: 16px 15px;
}
.navbar-right, .navbar-inverse .navbar-collapse {
	padding-right: 0;
}

/* CUSTOMIZE THE NAVLIST
-------------------------------------------------- */
.nav-list>li>a:hover, 
.nav-list>li>a:focus,
.nav-list>li>a {
	border-bottom: 1px solid #eee;
	background: -webkit-linear-gradient(left,transparent,transparent 50%,rgba(0,0,0,0.1));
	background: -moz-linear-gradient(left,transparent,transparent 50%,rgba(0,0,0,0.1));
	background: -ms-linear-gradient(left,transparent,transparent 50%,rgba(0,0,0,0.1));
	background: -o-linear-gradient(left,transparent,transparent 50%,rgba(0,0,0,0.1));
	background-size: 200% 100%;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
}
.nav-list>li>a:hover, 
.nav-list>li>a:focus {
	background-position: 100% 100%;
	padding-left: 25px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}
.page-header {
	margin-top: 0;
}
.breadcrumb {
	padding: 5px 10px;
	margin: 10px 0 20px 82px;
	display: inline-block;
	background: rgba(255,255,255,0.5);
}
footer {
	padding-top: 40px;
	padding-bottom: 30px;
	color: #777;
	border-top: 1px solid #eee;
	background: #f5f5f5;
	position: absolute;
	left:0;
	right:0;
	bottom:0;
}

/* Box List
-------------------------------------------------- */
.box-list {
	list-style: none;
	padding: 0;
	margin: 0 -15px;
}
.box-list>li {
	width: 30%;
	float: left;
	margin: 0 15px 30px;
	
}
.box-list>li>a>span {
	display: block;
        padding: 0 15px;
}
.box-list>li>a>span.title {
        padding-top: 15px;
}
.box {
        background: #fff;
	background: rgba(255,255,255,0.5);
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        overflow: hidden;
        zoom: 1;
        display: block;
        padding-bottom: 15px;
}
div.box {
        padding: 15px;
}
div + .box {
        margin-top:30px;
}
.box h3.box-header, .box h1 {
        border-bottom:3px solid #ff9833;
        margin:0 0 15px;
        padding-bottom:3px;
}

/* Blog
-------------------------------------------------- */
.post h3 {
        margin:0 0 15px;
}
.post .thumbnail {
        margin: 0 15px 10px 0;
}
.post .post_meta {
        background:#f3f3f3;
        background: rgba(243, 243, 243, 0.5);
        padding:10px 15px;
        margin:15px -15px -15px;
}


/* Twitter Typeahead
-------------------------------------------------- */
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
	margin-bottom: 0;
}
.tt-dropdown-menu {
	min-width: 160px;
	width: 100%;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	   -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	        box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
}
.tt-suggestion {
	display: block;
	padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}
.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}
.tt-suggestion p {
	margin: 0;
}
.twitter-typeahead .tt-hint {
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #ccc;
	width: 100%;
}


/* Google Custom Search
-------------------------------------------------- */
.gs-watermark, .gsc-resultsHeader, .gsc-tabsAreaInvisible, .gs-visibleUrl-short, .gsc-url-top, .gsc-thumbnail-inside {
	display: none; 
}
.gsc-result {
	margin-top: 15px;
}
.gsc-result td {
	vertical-align: top;
}
.gs-title {
	font-size: 24px;
}
.gsc-input {
	width: 100%;
}
.gs-visibleUrl-long {
	color: #468847;
}
input.gsc-input{
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px 0 0 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input.gsc-search-button {
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#2d6ca2));
	background-image: -webkit-linear-gradient(top,#428bca 0,#2d6ca2 100%);
	background-image: -moz-linear-gradient(top,#428bca 0,#2d6ca2 100%);
	background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff2d6ca2',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
	color: #fff;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #2b669a;
	border-radius: 0 4px 4px 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
table.gsc-search-box {
	width:100%;
}
.gsc-branding {
	float:right;
}
.gsc-cursor {
	display: inline-block;
	margin: 20px 0;
	border-radius: 4px;
}
.gsc-cursor-page {	
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	cursor:pointer;
}
.gsc-cursor-page:hover, .gsc-cursor-page:focus {
	background-color: #eee;
}
.gsc-cursor-current-page, .gsc-cursor-current-page:hover, .gsc-cursor-current-page:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #428bca;
	border-color: #428bca;
	cursor:default;
}
.gsc-cursor>.gsc-cursor-page:first-child {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.gsc-cursor>.gsc-cursor-page:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.gs-image-box {
	margin: 3px 9px 0 0;
}
.gs-image img {
	width:60px;
}
a.gs-image {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.075);
	box-shadow: 0 1px 2px rgba(0,0,0,0.075);
	display: inline-block;
	display: block;
	height: auto;
	max-width: 100%;
	padding: 4px;
	line-height: 1.428571429;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
