html, body {
	min-height: 100%;
	position: relative;
}
body {
	color: #5a5a5a;
	background:#f9f9f9;
	margin:50px 0 171px;
	font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
	color:#23879E;
}
a:hover {
	color:#0B5567;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar .navbar-nav>li>a {
	font-size: 18px;
}
.navbar .navbar-nav>li.active>a {
	color:#f93;
	text-shadow: #6C3806 0px 1px 0px;
}
.nav .caret, .nav a:hover .caret {
	border-top-color: #FF9833;
	border-bottom-color: #FF9833;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}
footer {
	padding-top: 40px;
	padding-bottom: 30px;
	color: #777;
	border-top: 1px solid #eee;
	background: #f5f5f5;
	position: absolute;
	left:0;
	right:0;
	bottom:0;
}
