html {
	min-height: 100%;
	position: relative;
}
body {
	color: #5a5a5a;
	margin:80px 0 101px;
	font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-height: 100%;
}
a {
	color:#F59331;
	-webkit-transition: all 0.25s ease-in;
	-moz-transition: all 0.25s ease-in;
	-o-transition: all 0.25s ease-in;
	-ms-transition: all 0.25s ease-in;
}
a:hover {
	color:#BC7126;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #F59331;
}
img {
	max-width:100%;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
    display: block;
}
section:before, section:after {
	display: table;
	content: " ";
}
.module-title {
	text-align: center;
	font-size: 32px;
	margin: 30px 0;
	font-weight: bold;
}
.title {
	color:#F59331;
	font-size:16px;
}
.container {
	width: 100%;
	max-width:1349px;
	padding: 0 30px;
}
.inner {
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
}
.page-header {
	margin-top: 0;
}
.breadcrumb {
	padding: 5px 10px;
	margin: 10px 0 20px 82px;
	display: inline-block;
	background: rgba(255,255,255,0.5);
}
body>footer {
	padding-top: 40px;
	padding-bottom: 30px;
	color: #fff;
	border-top: 1px solid #eee;
	background: #333;
	position: absolute;
	left:0;
	right:0;
	bottom:0;
}
body>footer a {
	color: #fff;
}
body>footer a:hover {
	color:#F59331;
}
.fullrow {
	padding: 30px 0;
}
.fullrow.orange, .fullrow.blue, .fullrow.grey {
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.fullrow.orange {
	padding: 50px 0;
}
.fullrow.orange .fa {
	font-size:8em;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
	border: none;
}
.navbar-brand {
	padding: 10px 15px;
}
.navbar-brand img {
	height:30px;
    max-width: none;
}
.navbar .navbar-nav>li>a, .navbar .navbar-nav>li.active>a {
	background-image: -webkit-linear-gradient(top, #222 0%, #222 50%, rgb(188, 113, 38) 50%, rgb(245, 147, 49) 91%, rgb(254, 152, 51) 100%);
	background-image: -o-linear-gradient(top, #222 0%, #222 50%, rgb(188, 113, 38) 50%, rgb(188, 113, 38) 50%, rgb(245, 147, 49) 91%, rgb(254, 152, 51) 100%);
	background-image: -ms-linear-gradient(top, #222 0%, #222 50%, rgb(188, 113, 38) 50%, rgb(188, 113, 38) 50%, rgb(245, 147, 49) 91%, rgb(254, 152, 51) 100%);
	background-image: -moz-linear-gradient(top, #222 0%, #222 50%, rgb(188, 113, 38) 50%, rgb(188, 113, 38) 50%, rgb(245, 147, 49) 91%, rgb(254, 152, 51) 100%);
	background-image: linear-gradient(top, #222 0%, #222 50%, rgb(188, 113, 38) 50%, rgb(188, 113, 38) 50%, rgb(245, 147, 49) 91%, rgb(254, 152, 51) 100%);
	background-repeat: repeat;
}
.navbar .navbar-nav>li>a, .navbar .navbar-right a {
	color:#ddd;
	font-size: 16px;
	background-size:100% 200%;
	text-transform: uppercase;
	padding:15px 10px;
}
.navbar .navbar-nav>li.active>a {
	color:#F59331;
	text-shadow: #673605 0px 1px 0px;
	background-position: 0 2px;
}
.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li.active>a:hover, .navbar .navbar-nav>li.open>a, .navbar .navbar-nav>li.active.open>a {
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar .navbar-nav>li>a:hover, .navbar .navbar-nav>li.open>a, .navbar .navbar-nav>li.active.open>a {
	background-position:0 -100%;
	color:#fff;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret {
	border-top-color: #ddd;
	border-bottom-color: #ddd;
}
.nav .caret, .navbar-inverse .navbar-nav>.dropdown.active>a .caret {
	border-top-color: #F59331;
	border-bottom-color: #F59331;
}
.nav a:hover .caret, .nav>li.open a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.navbar .navbar-right>li>a {
	color:#fff;
	font-size: 22px !important;
	background: none;
}
.navbar .navbar-right>li>a>i {
	line-height:20px;
	display:block;
}
.navbar .navbar-right>li>a:hover {
	color:#F59331;
	text-shadow: #BC7126 0px 1px 0px;
}
@media (max-width: 295px) {
.navbar-brand {
	width: 50px;
    overflow:hidden;
} 
}
@media (min-width: 768px) {
.navbar .dropdown-menu {
	left: 0;
	right: 0;
	position: fixed;
	top: 50px;
	border: none;
	border-radius: 0;
	background: #FE9833;
	padding: 15px 30px;
}
.navbar .navbar-nav>li.open {
	-webkit-transition:ease 0.6s all;
	-moz-transition:ease 0.6s all;
	-o-transition:ease 0.6s all;
	transition:ease 0.6s all;
}
.navbar .navbar-nav:hover>li.open {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%); 
}
.navbar .navbar-nav>li.open:hover {
	filter: none;
	-webkit-filter: none;
}
.navbar .dropdown-menu li {
	width: 16.66666666666666%;
	float: left;
}
.navbar .dropdown-menu li a {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 5px;
	border-radius: 4px;
	font-weight: bold;
	white-space: normal;
}
.navbar .dropdown-menu li.active a, .navbar .dropdown-menu:hover li.active a:hover, .navbar .dropdown-menu li a:hover {
	background: rgba(255,255,255,0.2);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.navbar .dropdown-menu:hover li.active a {
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.navbar .dropdown-menu li a img {
	margin: 0 auto 10px;
	max-width: 65%;
}
}
@media (min-width: 992px) {
body {
	margin-top: 100px;
}
.navbar-brand {
	padding: 20px 15px;
}
.navbar .navbar-nav>li>a, .navbar .navbar-right a {
	padding: 25px 15px;
}
.navbar .navbar-nav>li>a {
	font-size: 18px;
}
/*.navbar-collapse .navbar-nav.navbar-right:last-child {
	margin-right: -30px;
}*/
.navbar .dropdown-menu {
	top: 70px;
}
.navbar .dropdown-menu li a {
/*	font-size: 16px;*/
	}
}
@media (min-width: 1092px) {
.navbar-brand {
	padding: 15px 15px;
}
.navbar-brand img {
	height: 40px;
}
.navbar .dropdown-menu li a {
	font-size: 17px;
}
}
/* Carousel
-------------------------------------------------- */
#carousel {
	margin-top:-30px;
}
.carousel-indicators li {
	border: none;
	background-color: #333;
	background-color: rgba(51, 51, 51, 0.75);
}
.carousel-indicators li.active {
	background-color: #FE9833;
}
#carousel .carousel-indicators li.active {
	background-color: #fff;
}
/* Fade transition for carousel items */
.carousel-fade .carousel-inner .item {
	opacity: 0;
	filter: alpha(opacity=0); /* ie fix */
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
	filter: alpha(opacity=100); /* ie fix */
}
/* Fade controls with items */
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
	filter: alpha(opacity=100); /* ie fix */
	-webkit-transition-property: none;
	-moz-transition-property: none;
	-o-transition-property: none;
	transition-property: none;
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	opacity: 0;
	filter: alpha(opacity=0); /* ie fix */
	z-index: 1;
	left:0;
}
/* Navlist
-------------------------------------------------- */
.nav-list>li>a:hover, .nav-list>li>a:focus, .nav-list>li>a {
	border-bottom: 1px solid #eee;
	background: -webkit-linear-gradient(left, transparent, transparent 50%, rgba(0,0,0,0.1));
	background: -moz-linear-gradient(left, transparent, transparent 50%, rgba(0,0,0,0.1));
	background: -ms-linear-gradient(left, transparent, transparent 50%, rgba(0,0,0,0.1));
	background: -o-linear-gradient(left, transparent, transparent 50%, rgba(0,0,0,0.1));
	background-size: 200% 100%;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
}
.nav-list>li>a:hover, .nav-list>li>a:focus {
	background-position: 100% 100%;
	padding-left: 25px;
}
.nav-list ul>li>a {
	font-size: 12px;
	padding-left: 20px;
}
.nav-list ul>li>a:hover, .nav-list ul>li>a:focus {
	padding-left: 30px;
}
/* Box List
-------------------------------------------------- */
.box-list {
	list-style: none;
	padding: 0;
	margin: 0 -15px;
	text-align: center;
}
.box-list>li {
	width: 100%;
	padding: 0 15px;
	display: inline-block;
	margin-bottom:30px;
	vertical-align:top;
}
.box-list>li>.box {
	height: 100%;
}
@media (min-width: 768px) {
.box-list>li {
	width: 50%;
}
.box-list.box-list-xs>li {
	width: 25%;
}
}
@media (min-width: 992px) {
.box-list>li {
	width: 33.33333333333333%;
}
.box-list.box-list-xs>li {
	width: 16.66666666666666%;
}
}
@media (min-width: 1200px){
.box-list.box-list-md>li {
	width: 25%;
}
}
.box-list>li>a>img {
	margin-bottom:10px;
}
.box {
	background-color: #fff;
	background-color: rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display: block;
	padding: 15px;
	zoom: 1;
	margin-bottom:30px;
}
.box-list>li>a.box {
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.25), rgba(255,255,255,0.25) 50%, rgba(0,0,0,0.05));
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.25), rgba(255,255,255,0.25) 50%, rgba(0,0,0,0.05));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,0.25), rgba(255,255,255,0.25) 50%, rgba(0,0,0,0.05));
	background-image: -o-linear-gradient(top, rgba(255,255,255,0.25), rgba(255,255,255,0.25) 50%, rgba(0,0,0,0.05));
	background-size: 100% 200%;
	margin-bottom:0;
}
.box-list>li>a.box:hover  {
	background-color: rgba(255,255,255,0.75);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	text-decoration: none;
	background-position: bottom;
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	-ms-transition: all 0.4s ease-in;
}
.box-header {
	border-bottom:3px solid #ff9833;
	margin:0 0 15px;
	padding-bottom:3px;
}
.folio .box, .folio .box:hover {
	padding: 0;
}
.folio .box img {
	width: 100%;
}
.preview-img {
	position:absolute;
	width: 100%;
	cursor:row-resize;
}
.preview-img img {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	user-drag: none;
}
.preview-phone {
	position:absolute;
	width: 20%;
	bottom: -5%;
	right: 5%;
}
#previews .carousel-indicators {
	bottom: 6px;
}
#previews .carousel-inner {
	padding-bottom: 40px;
}
.folio .btn-lg {
	width:230px;
	max-width:100%;
}
figure {
	position: relative;
	overflow: hidden;
	margin:0;
}
figcaption {
	padding: 20px;
	color: #999;
	text-align:left;
}
figcaption .h4 {
	color: #FF9833;
}
@media (min-width:768px) {
figcaption {
	position: absolute;
	background: rgba(0,0,0,0.75);
	color: white;
	opacity: 0;
	bottom: -90px;
	left: 0;
	right: 0;
	-webkit-transition: all 0.6s ease;
	-moz-transition:    all 0.6s ease;
	-o-transition:      all 0.6s ease;
	transition:      	all 0.6s ease;
}
figure:hover figcaption {
	opacity: 1;
	bottom: 0;
}
figure img {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
    margin:0;
}
figure:hover img {
	-moz-transform: scale(1.2) rotate(-3deg);
	-webkit-transform: scale(1.2) rotate(-3deg);
	-o-transform: scale(1.2) rotate(-3deg);
	-ms-transform: scale(1.2) rotate(-3deg);
	transform: scale(1.2) rotate(-3deg);
}
}
/* Blog
-------------------------------------------------- */
.post h3 {
	margin:0 0 15px;
}
.post .thumbnail {
	margin: 0 15px 10px 0;
}
.post .post_meta {
	background:#f3f3f3;
	background: rgba(243, 243, 243, 0.5);
	padding:10px 15px;
	margin:15px -15px -15px;
}
/* Icons
-------------------------------------------------- */
@font-face {
	font-family: 'icon';
	src:url('../fonts/icon.eot');
	src:url('../fonts/icon.eot?#iefix') format('embedded-opentype'), url('../fonts/icon.ttf') format('truetype'), url('../fonts/icon.woff') format('woff'), url('../fonts/icon.svg#icon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.service-icons {
	font-size:16px;
	float:right;
	margin:-1px 0;
}
.service-icons [class^="icon-"], .service-icons [class*=" icon-"] {
	color:#ccc;
}
.service-icons .icon-web-design {
	font-size:15px;
	margin-top:1px;
}
.icon, [class^="icon-"], [class*=" icon-"], .icon {
	font-family: 'icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-web-design:before {
	content: "\e600";
}
.icon-ecommerce:before {
	content: "\e601";
}
.icon-cms:before {
	content: "\e602";
}
.icon-mobile:before {
	content: "\e603";
}
.icon-illustration:before {
	content: "\e604";
}
.icon-graphic:before {
	content: "\e605";
}
.icon-facebook:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\e607";
}
.icon-google-plus:before {
	content: "\e608";
}
.icon-phone-sign:before {
	content: "\e609";
}
.icon-envelope:before {
	content: "\e60a";
}
.btn {
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(129, 129, 129, 0) 75%, rgba(255, 255, 255, 0.1) 100%);
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(129, 129, 129, 0) 75%, rgba(255, 255, 255, 0.1) 100%);
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(129, 129, 129, 0) 75%, rgba(255, 255, 255, 0.1) 100%);
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(129, 129, 129, 0) 75%, rgba(255, 255, 255, 0.1) 100%);
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(129, 129, 129, 0) 75%, rgba(255, 255, 255, 0.1) 100%);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 1px rgba(0,0,0,0.075);
	color:#fff;
	background-size:100% 200%;
	background-position:top;
	-webkit-transition: all 0.25s ease-in;
	-moz-transition: all 0.25s ease-in;
	-o-transition: all 0.25s ease-in;
	-ms-transition: all 0.25s ease-in;
}
.btn:hover {
	color:#fff;
	background-position:bottom;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.15), 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.15), 0 1px 1px rgba(0,0,0,0.075);
}
.btn-default {
	color:#333;
}

/* Jumbotron
-------------------------------------------------- */
.grey {
	background: #f6f6f6;
}
.jumbotron::after {
	box-shadow:inset 0 0 100px 50px #f6f6f6;
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.orange {
	background: #FE9833;
	color:#fff;
}
.jumbotron.orange::after {
	box-shadow:inset 0 0 100px 50px #FE9833;
}
.orange h1, .orange .h1,
.orange h2, .orange .h2,
.orange h3, .orange .h3,
.orange h4, .orange .h4,
.orange h5, .orange .h5 {
	text-shadow: 
		#A55A11  .01em .01em 0, 
		#A55A11 .02em .02em 0, 
		#A55A11 .03em .03em 0, 
		#A55A11 .04em .04em 0, 
		#A55A11 .05em .05em 0, 
		#A55A11 .06em .06em 0, 
		#A55A11 .07em .07em 0,	 
		#A55A11 .08em .08em 0, 
		#A55A11 .09em .09em 0, 
		#A55A11 .1em .1em 0;
}
.green {
	background: #26BE4E;
	color:#fff;
}
.jumbotron.green::after {
	box-shadow:inset 0 0 100px 50px #26BE4E;
}
.green h1, .green .h1,
.green h2, .green .h2,
.green h3, .green .h3,
.green h4, .green .h4,
.green h5, .green .h5 {
	text-shadow: 
		#0C7B2A  .01em .01em 0, 
		#0C7B2A .02em .02em 0, 
		#0C7B2A .03em .03em 0, 
		#0C7B2A .04em .04em 0, 
		#0C7B2A .05em .05em 0, 
		#0C7B2A .06em .06em 0, 
		#0C7B2A .07em .07em 0,	 
		#0C7B2A .08em .08em 0, 
		#0C7B2A .09em .09em 0, 
		#0C7B2A .1em .1em 0;
}
.blue {
	background: #23869D;
	color:#fff;
}
.jumbotron.blue::after {
	box-shadow:inset 0 0 100px 50px #23869D;
}
.blue h1, .blue .h1,
.blue h2, .blue .h2,
.blue h3, .blue .h3,
.blue h4, .blue .h4,
.blue h5, .blue .h5 {
	text-shadow: 
		#0B5566 .01em .01em 0, 
		#0B5566 .02em .02em 0, 
		#0B5566 .03em .03em 0, 
		#0B5566 .04em .04em 0, 
		#0B5566 .05em .05em 0, 
		#0B5566 .06em .06em 0, 
		#0B5566 .07em .07em 0,	 
		#0B5566 .08em .08em 0, 
		#0B5566 .09em .09em 0, 
		#0B5566 .1em .1em 0;
}
/* Jumbotron
-------------------------------------------------- */
.jumbotron {
	position:relative;
	overflow: hidden;
	z-index: 0;
}
@media screen and (min-width: 768px) {
	.jumbotron {
		padding-top: 90px;
		padding-bottom: 90px;
	}
}
.jumbo-icon {
	padding: 50px;
	background: #fff;
	background: rgba(255,255,255,0.85);
	border-radius: 100%;
	display: inline-block;
}
.jumbo-icon-home {
	display:block; 
	margin-top: -10px;
}
.jumbo-icon-home>.jumbo-icon-inner {
	position:relative; 
	margin: -40px -70px;
}
.jumbotron {
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	margin: -30px 0 0;
}
.jumbotron + .jumbotron, .carousel .jumbotron {
	margin-top: 0;
}
.jumbotron h1, .jumbotron .h1 {
	margin: 0 0 15px;
}

@media (min-width:992px) {
.jumbotron h1, .jumbotron .h1 {
	font-size: 60px;
}
}
@media (min-width:1200px) {
.jumbotron h1, .jumbotron .h1 {
	font-size: 72px;
}
}
/* Ribbon
-------------------------------------------------- */
.ribbon {
	position:relative;
	margin: -25px -25px 25px;
	padding: 10px 0;
}
.ribbon-circle {
	border-radius: 100%;
	background: inherit;
	color: #fff;
	padding: 30px 0;
	margin: -60px auto 10px;
	border: 8px solid #f6f6f6;
	width: 120px;
}
.ribbon::after, .ribbon::before {
	display: inline-block;
	border-color: transparent;
	border-style: solid;
	border-width: 10px;
	border-top:none;
	height: 0px;
	width: 0px;
	bottom: -10px;
	position: absolute;
	content: "";
}
.ribbon::after {
	right: -10px;
}
.ribbon::before {
	left: -10px;
}
.ribbon.orange::after {
	border-left-color: #BC7126;
}
.ribbon.orange::before {
	border-right-color: #BC7126;
}
.ribbon.blue::after {
	border-left-color: #0B5566;
}
.ribbon.blue::before {
	border-right-color: #0B5566;
}

/* Sunburst
-------------------------------------------------- */
.sunburst {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
}
.sunburst .outer {
	width: 4000px;
	height: 4000px;
	padding-top: 2180px;
	margin: -2000px 0 0 -2000px;
   -webkit-animation-name: rotate1;
   -webkit-animation-duration:2s;
   -webkit-animation-iteration-count:infinite;
   -webkit-animation-timing-function:linear;
   -moz-animation-name: rotate1;
   -moz-animation-duration:2s;
   -moz-animation-iteration-count:infinite;
   -moz-animation-timing-function:linear;
}
.sunburst span {
	border-width: 180px 2000px;
	margin: -360px 0 0 0;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent rgba(255,255,255,0.1);
	border-style: solid;
}
.sunburst span:nth-child(1) { 
   -webkit-transform:rotate(20deg);  
   -moz-transform:rotate(20deg);  
}
.sunburst span:nth-child(2) { 
   -webkit-transform:rotate(40deg);  
   -moz-transform:rotate(40deg);  
}
.sunburst span:nth-child(3) { 
   -webkit-transform:rotate(60deg);  
   -moz-transform:rotate(60deg);  
}
.sunburst span:nth-child(4) { 
   -webkit-transform:rotate(80deg);  
   -moz-transform:rotate(80deg);  
}
.sunburst span:nth-child(5) { 
   -webkit-transform:rotate(100deg); 
   -moz-transform:rotate(100deg); 
}
.sunburst span:nth-child(6) {    
   -webkit-transform:rotate(120deg); 
   -moz-transform:rotate(120deg); 
}
.sunburst span:nth-child(7) { 
   -webkit-transform:rotate(140deg); 
   -moz-transform:rotate(140deg); 
}
.sunburst span:nth-child(8) { 
   -webkit-transform:rotate(160deg); 
   -moz-transform:rotate(160deg); 
}
.sunburst span:nth-child(9) { 
   -webkit-transform:rotate(180deg); 
   -moz-transform:rotate(180deg); 
}
@-webkit-keyframes rotate1 {
    from { -webkit-transform: rotate(0deg); }
    to   { -webkit-transform: rotate(20deg); }
}
@-moz-keyframes rotate1 {
    from { -moz-transform: rotate(0deg); }
    to   { -moz-transform: rotate(20deg); }
}

/* List Features
-------------------------------------------------- */
.feature-list {
	list-style: none;
	padding: 0;
	margin:0;
}
.feature-list>li {
	display: block;
	border-top:1px solid #eee;
	padding: 10px 0;
	width: 100%;
}
.feature-list>li>span {
	cursor: help;
	color: #23869D;
}

/* Blog
-------------------------------------------------- */
.article-header {
	padding-bottom: 30px;
	position: relative;
}
.article-info {
	position: absolute;
	top: 100%;
	width: 130px;
	left: 30px;
	text-align: center;
}
.article-content {
	margin-left: 190px;
	min-height: 200px;
}
.article-comments {
	margin-left: 190px;
}

/* Avatar
-------------------------------------------------- */
.avatar, .avatar:hover, .avatar:active, .avatar:focus {
	color: #5a5a5a;
    display: block;
}
.avatar>img {
    border-radius: 50%;
	margin-bottom: 10px;
	-webkit-transition: all 0.25s ease-in;
	-moz-transition: all 0.25s ease-in;
	-o-transition: all 0.25s ease-in;
	-ms-transition: all 0.25s ease-in;
}
.avatar:hover>img, .avatar:active>img, .avatar:focus>img {
    border-color: #F59331;
}

/* Text Helpers
-------------------------------------------------- */
.text-lg {
    font-size: 16px;
}
.text-xl {
    font-size: 22px;
    margin: 20px 0;
}
@media (min-width: 768px) {
.text-lg {
    font-size: 21px;
}
.text-xl {
    font-size: 36px;
    margin: 30px 0;
}
}

/* Flip Cards
-------------------------------------------------- */
.flipper:hover {
	text-decoration: none;
}
.flipper img {
	margin-bottom:10px;
}
@media (max-width: 768px) {
.flipper {
	background-color: #fff;
	background-color: rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display: block;
	padding: 15px;
	zoom: 1;
}
.flipper:hover {
	background-color: rgba(255,255,255,0.75);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	text-decoration: none;
	background-position: bottom;
	-webkit-transition: all 0.4s ease-in;
	-moz-transition: all 0.4s ease-in;
	-o-transition: all 0.4s ease-in;
	-ms-transition: all 0.4s ease-in;
}
}
@media (min-width: 768px) {
.front {
	background-color: #fff;
	background-color: rgba(255,255,255,0.5);
}
.front, .back {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	display: block;
	padding: 15px;
	zoom: 1;
}
}
@media (min-width: 768px) {
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
}
.flip-container:hover .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    display:block;
}
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}
.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    position: absolute;
}
.back .text-muted {
    color: #fff;
}
}