  <footer>
    <div class="container">
        <ul class="social-buttons">
          <li class="follow-btn">
            <a href="https://twitter.com/donjoomla" class="twitter-follow-button" data-link-color="#23879E" data-show-count="false" data-size="large">Follow @donjoomla</a>
          </li>
          <div class="follow-btn">
            <a href="https://plus.google.com/105901517631922861836" rel="publisher" class="btn btn-default"><i class="fa fa-google-plus-square"></i> Find us on Google+</a>
          </li>
        </ul>
      <p class="text-left">&copy; 2013 Adam Bouqdib &middot; <a href="{{ site.url }}/privacy">Privacy</a> &middot; <a href="{{ site.url }}/license">Terms</a></p>
	  <p class="text-left"><small>Joomla! is a registered trademark of Open Source Matters, Inc. <br>
	  donjoomla.com is not affiliated with or endorsed by Open Source Matters or the Joomla! Project.</small></p>
    </div>
  </footer>
  
  <!-- JS only. -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="{{ site.url }}/js/stuff.js"></script>
