    {% if page.title == site.name %}{% capture title %}{{ site.title }}{% endcapture %}
    {% else %}{% capture title %}{{ page.title }} &middot; {{ site.title }}{% endcapture %}{% endif %}
    {% if page.description %}{% capture description %}{{ page.description }}{% endcapture %}
    {% else %}{% capture description %}{{ site.description }}{% endcapture %}{% endif %}
    {% if page.image %}{% capture image %}{{ site.baseurl }}{{ page.image }}{% endcapture %}
    {% else %}{% capture image %}{{ site.url }}{{ site.image }}{% endcapture %}{% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="/images/touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/touch-icon-152x152-precomposed.png">
    <meta name="author" content="Adam Bouqdib">
    <link rel="canonical" href="{{ site.url }}{{ page.url | remove:"index" | remove:".html" }}" />
    
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:locale" content="{{ site.locale }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url | remove:"index" | remove:".html" }}" />
    
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@abemedia"/>
    <meta name="twitter:domain" content="{{ site.url }}"/>
    <meta name="twitter:creator" content="@abemedia"/>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}css/pygments-manni.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link rel='stylesheet' href="{{ site.baseurl }}css/style.css" />
    <link rel='stylesheet' href="http://netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:regular,bold' />
    <link rel="stylesheet" href="{{ site.baseurl }}css/device-mockups.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl }}feed.xml">
