{% if include.module %}
  <div class="{{ include.module.class }}">
    {% if include.module.type %}
      {% if include.module.title %}
      <h3 class="module-title">{{ include.module.title }}</h3>
      {% endif %}
      {% capture module %}modules/{{ include.module.type }}.html{% endcapture %}
      {% include {{module}} params=include.module.params %}
    {% else %}
      {% for item in include.module %}
        <div class="{{ item.class }}">
          {% if item.title %}
          <h3 class="module-title">{{ item.title }}</h3>
          {% endif %}
          {% capture module %}modules/{{ item.type }}.html{% endcapture %}
          {% include {{module}} params=item.params %}
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endif %}
