{% if include.module %}
  {% if include.module.type %}
  <section class="{{ include.module.class }}">
    {% if include.module.title %}<h3 class="module-title">{{ include.module.title }}</h3>{% endif %}
    {% capture module %}modules/{{ include.module.type }}.html{% endcapture %}
    {% include {{module}} params=include.module.params %}
  </section>
  {% else %}
    {% if include.module.class %}<div class="{{ include.module.class }}">{% endif %}
      {% for item in include.module %}
      <section class="{{ item.class }}">
        {% if item.title %}<h3 class="module-title">{{ item.title }}</h3>{% endif %}
        {% capture module %}modules/{{ item.type }}.html{% endcapture %}
        {% include {{module}} params=item.params %}
      </section>
      {% endfor %}
    {% if include.module.class %}</div>{% endif %}
  {% endif %}
{% endif %}
