  {% if include.module.htag %}{% capture htag %}{{ include.module.htag }}{% endcapture %}{% else %}{% capture htag %}3{% endcapture %}{% endif %}  
  <section class="fullrow {{ include.module.class }}">
    <div class="container">
    {% if include.module.title %}<h{{ htag }} class="module-title">{{ include.module.title }}</h{{ htag }}>{% endif %}
    {% capture module %}modules/{{ include.module.type }}.html{% endcapture %}
    {% include {{module}} params=include.module.params %}
    </div>
  </section>