{% if include.module %}
  <div class="{{ include.module.content }}">
    {% if include.module.type %}
      {% if include.module.title %}
      <h3 class="module-title">{{ include.params.title }}</h3>
      {% endif %}
      {% capture module %}modules/{{ include.module.content }}.html{% endcapture %}
      {% include {{module}} params=include.module.params %}
    {% else %}
      {% for item in include.module %}
        {% if item.title %}
        <h3 class="module-title">{{ item.title }}</h3>
        {% endif %}
        {% capture module %}modules/{{ item.params.type }}.html{% endcapture %}
        {% include {{module}} params=item.params %}
      {% endfor %}
    {% endif %}
  </div>
{% endif %}
