{% if include.module %}
  {% if include.module.type %}
    {% capture module %}module{% if include.module.style %}-{{ include.module.style }}{% elsif include.style %}-{{ include.style }}{% endif %}.html{% endcapture %}
    {% include {{module}} module=include.module %}
  {% else %}
    {% for item in include.module %}
      {% capture module %}module{% if include.module.style %}-{{ include.module.style }}{% elsif include.style %}-{{ include.style }}{% endif %}.html{% endcapture %}
      {% include {{module}} module=item %}
    {% endfor %}
  {% endif %}
{% endif %}
