<a class="sr-only" href="#main">Skip to main content</a> 
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
      <a class="navbar-brand" href="{{ site.url }}"><img src="{{ site.url }}/images/logo.png" alt=""/></a></div>
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li{% if page.slug == "home" %} class="active"{% endif %}><a href="{{ site.url }}">Home</a>
        </li>
        <li{% if page.category == "extensions" %} class="active"{% endif %} class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Services <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li{% if page.slug == "" %} class="active"{% endif %}> <a href="{{ site.url }}/">Web Design &amp; Development</a></li>
          <li{% if page.slug == "" %} class="active"{% endif %}> <a href="{{ site.url }}/">Ecommerce (Online Shops)</a></li>
          <li{% if page.slug == "" %} class="active"{% endif %}> <a href="{{ site.url }}/">Content Management Systems</a></li>
          <li{% if page.slug == "" %} class="active"{% endif %}> <a href="{{ site.url }}/">Online Marketing</a></li>
          <li{% if page.slug == "" %} class="active"{% endif %}> <a href="{{ site.url }}/">Graphic Design &amp; Branding</a></li>
        </ul>
        </li>
        <li{% if page.slug == "portfolio" %} class="active"{% endif %}> <a href="{{ site.url }}/portfolio.html">Portfolio</a></li>
        <li{% if page.slug == "blog" %} class="active"{% endif %}> <a href="{{ site.url }}/blog.html">Blog</a></li>
        <li{% if page.slug == "about-us" %} class="active"{% endif %}> <a href="{{ site.url }}/about-us.html">About</a></li>
        <li{% if page.slug == "contact-us" %} class="active"{% endif %}> <a href="{{ site.url }}/contact-us.html">Contact</a></li>
      </ul>
      <a href="tel:+441273906909" class="navbar-right navbar-brand">(+44) 01273 906 909</a>
    </nav>
  </div>
</div>
