---
layout: default
title: Extensions
slug: extensions
category: extensions
sitemap:
    priority: 0.7
    changefreq: monthly
    lastmod: 2013-11-29T01:15:00
---
<h2 class="page-header">{{page.title}}</h2>
{% for post in site.pages %}
  {% if post.category == page.category and post.slug != post.category  %}
<div class="media"><a class="pull-left thumbnail" href="{{ post.url | remove:'.html' | remove:'index' }}"><img src="{{ post.image }}" alt="" width="90" height="90"></a>
  <div class="media-body">
    <h3 class="media-heading"><a href="{{ post.url | remove:'.html' | remove:'index' }}">{{ post.title }}</a></h3>
    <p>{{ post.lead }}.</p>
  <a class="btn btn-success" href="{{ post.url | remove:'.html' | remove:'index' }}#Download"><span class="glyphicon glyphicon-save"></span> Download {{ post.title }}</a></div>
</div>
  {% endif %}
{% endfor %}
