---
layout: default
title: Portfolio
category: portfolio
slug: portfolio
sitemap:
    priority: 0.7
    changefreq: monthly
    lastmod: 2013-12-01T10:00:00Z
---
<h1 class="page-header">Web Design Portfolio <small>A small selection of our recent projects</small></h1>
<ul class="box-list folio">
  {% for post in site.categories.portfolio %}
    {% if post.categories contains {{page.slug}} %}
      <li><a class="box" href="{{ post.url | remove:".html" }}">
        <figure><img alt="{{ post.title }}" src="{{ post.image }}" class="img-responsive">
          <figcaption>
            <div class="h4">{{ post.title }}</div>
            <span class="service-icons">{% for tag in post.tags %}<cite class="tip" data-toggle="tooltip" title="{{ tag | camelcase }}"><i class="icon-{{ tag }}"></i></cite> {% endfor %}</span>
            {{ post.link }}
          </figcaption>
        </figure>
      </a>
    {% endif %} 
  {% endfor %}
</ul>