---
layout: default
title: Portfolio
category: portfolio
slug: portfolio
sitemap:
    priority: 0.7
    changefreq: monthly
    lastmod: 2013-12-01T10:00:00Z
---
<h1 class="page-header">Web Design Portfolio <small>A small selection of our recent projects</small></h1>
<ul class="box-list folio">
  {% for post in site.categories.portfolio %}
    {% if post.categories contains {{page.slug}} %}
      <li><a class="box" href="{{ post.url | remove:".html" }}">
        <img alt="{{ post.title }}" src="{{ post.image }}" class="img-responsive">
        <span class="h4">{{ post.title }}</span><span class="text-muted">{{ post.link }}</span>
      </a>
    {% endif %} 
  {% endfor %}
</ul>