--- 
layout: default 
---
<div class="inner">
  <h1 class="page-header">About {{ page.title }}</h1>
  <div class="row">
    <div class="col-sm-4 text-center">
      <p><img src="{{ site.baseurl }}images/people/{{ page.slug }}-xl.jpg" alt="" class="img-thumbnail img-circle hidden-xs" /></p>
      <p>{% if page.twitter %}
        <a target="_blank" class="btn btn-default btn-xs" href="https://twitter.com/{{ page.twitter }}"><i class="fa fa-twitter"></i> Twitter</a>
        {% endif %}{% if page.google %}
        <a target="_blank" class="btn btn-default btn-xs" href="https://plus.google.com/{{ page.google }}" rel="me"><i class="fa fa-google-plus"></i> Google+</a>
        {% endif %}{% if page.linkedin %}
        <a target="_blank" class="btn btn-default btn-xs" href="http://www.linkedin.com/in/{{ page.linkedin }}"><i class="fa fa-linkedin"></i> LinkedIn</a>
        {% endif %}{% if page.github %}
        <a target="_blank" class="btn btn-default btn-xs" href="http://www.github.com/{{ page.github }}"><i class="fa fa-github"></i> GitHub</a>{% endif %}
      </p>
    </div>
    <div class="col-sm-8">
      <blockquote>{{ content }}</blockquote>
    </div>
  </div>
</div>
<hr />
  
