---
layout: default
---

<div class="inner">
  <h1 class="page-header">{{ page.title }} <small>{{ page.role }}</small></h1>
  <div class="row">
    <div class="col-sm-4 text-center">
      <p><img src="{{ site.baseurl }}/images/people/{{ page.slug }}-xl.jpg" alt="" class="img-thumbnail img-circle hidden-xs" /></p>
      <p>{% if page.links.twitter %}
        <a title="Twitter" target="_blank" href="https://twitter.com/{{ page.links.twitter }}"><i class="fa fa-fw fa-2x fa-twitter"></i></a>
        {% endif %}{% if page.links.linkedin %}
        <a title="LinkedIn" target="_blank" href="http://www.linkedin.com/in/{{ page.links.linkedin }}"><i class="fa fa-fw fa-2x fa-linkedin"></i></a>
        {% endif %}{% if page.links.google %}
        <a title="Google+" target="_blank" href="https://plus.google.com/{{ page.links.google }}" rel="me"><i class="fa fa-fw fa-2x fa-google-plus"></i></a>
        {% endif %}{% if page.links.github %}
        <a title="GitHub" target="_blank" href="http://www.github.com/{{ page.links.github }}"><i class="fa fa-fw fa-2x fa-github"></i></a>
        {% endif %}{% if page.links.stackoverflow %}
        <a title="Stack Overflow" target="_blank" href="https://careers.stackoverflow.com/{{ page.links.stackoverflow }}"><i class="fa fa-fw fa-2x fa-stack-overflow"></i></a>
        {% endif %}
      </p>
    </div>
    <div class="col-sm-8">
      <p class="lead">{{ content }}</p>
    </div>
  </div>
</div>
<hr />
