---
layout: default
---
<h1 class="page-header">{{ page.title }}</h1>
<ul class="box-list equal blog">
{% for post in site.categories.blog %}
  {% if post.categories contains {{page.slug}} %}
    <li>
      <div class="box">
        <a href="{{ post.url | remove:".html" }}">
          <div class="img"><img src="{{ post.image }}" alt="{{ post.title }}"></div>
          <h3 class="h4 media-heading">{{ post.title }}</h3>
        </a>
        <small>{{ post.date | date: "%A, %-d %B %Y" }}</small>
      </div>
    {% endif %} 
{% endfor %}
</ul>
