---
layout: default
---
<h1 class="page-header">{{ page.title }}</h1>
<ul class="box-list folio">
{% for post in site.categories.blog %}
  {% if post.categories contains {{page.slug}} %}
    <li>
          <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <a class="flipper" href="{{ site.baseurl }}{{ post.url }}">
              <div class="front">
                <img src="{{ post.image }}" alt="{{ post.title }}">
                <h3 class="media-heading">{{ post.title }}</h3>
              </div>
              <div class="back">
                <div class="h3 hidden-xs">{{ post.title }}</div>
                <span class="text-muted">{{ post.desc }}</span>
              </div>
            </a>
          </div>
    {% endif %} 
{% endfor %}
</ul>
