<!DOCTYPE html>
<html lang="en">
  <head>{% include header.html %}</head>
  <body>
  {% include nav-main.html %}
  <div class="container">
    <div class="breadcrumb pull-right">(+44) 01273 906 909 (Brighton)</div>
    {% include breadcrumbs.html %}
    <div id="main" role="main">
      <div class="row">
        {% if page.left %}
        <div class="col-md-{{ page.left.size }}">
          {% capture left %}side-{{ page.left.content }}.html{% endcapture %}
          {% include {{left}} %}
        </div>
        {% endif %}
        <div class="col-md-{{ 12 | minus: page.left.size | minus: page.right.size }}" role="main">
          {{ content }}
        </div>
        {% if page.right %}
        <div class="col-md-{{ page.right.size }}">
          {% capture right %}side-{{ page.right.content }}.html{% endcapture %}
          {% include {{right}} %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% include footer.html %}
  </body>
</html>
