<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}</head>
  <body>
  <script data-cfasync="false">document.body.className = document.body.className + 'js';</script>
  {% include navbar.html %}
  <div id="content" class="{{ page.class }}">
    {% if page.top %}{% include modules.html module=page.top %}{% endif %}
    <div class="container">
    {% if page.left or page.right %}
    <div class="row">
      {% if page.left %}
      <aside class="col-md-{{ page.left.size }}" role="complementary">
        {% include modules.html module=page.left %}
      </aside>
      {% endif %}
      <div class="col-md-{{ 12 | minus: page.left.size | minus: page.right.size }}" role="main">
        {{ content }}
      </div>
      {% if page.right %}
      <aside class="col-md-{{ page.right.size }}" role="complementary">
        {% include modules.html module=page.right %}
      </aside>
      {% endif %}
    </div>
    {% else %}<div class="fullrow">{{ content }}</div>{% endif %}
    </div>
    {% if page.bottom %}{% include modules.html module=page.bottom style="container" %}{% endif %}
  </div>
  {% include footer.html %}
  </body>
</html>
