<!DOCTYPE html>
<html lang="en">
  <head>{% include header.html %}</head>
  <body>
  {% include nav-main.html %}
  {% if page.top.content %}
    {% capture top %}modules/{{ page.top.content }}.html{% endcapture %}
    {% include {{top}} params=page.top.params %}
  {% endif %}
  <div class="container">
    <div id="main">
      <div class="row">
        {% unless page.left.content == nil %}
        <div class="col-md-{{ page.left.size }}">
          {% capture left %}modules/{{ page.left.content }}.html{% endcapture %}
          {% include {{left}} params=page.left.params %}
        </div>
        {% endunless %}
        <div class="col-md-{{ 12 | minus: page.left.size | minus: page.right.size }}" role="main">
          {{ content }}
        </div>
        {% if page.right.content %}
        <div class="col-md-{{ page.right.size }}">
          {% capture right %}modules/{{ page.right.content }}.html{% endcapture %}
          {% include {{right}} params=page.right.params %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if page.bottom %}
    {% if page.bottom.content %}
      {% capture bottom %}modules/{{ page.bottom.content }}.html{% endcapture %}
      {% include {{bottom}} params=page.bottom.params %}
    {% else %}
      {% for item in page.bottom %}
        {% capture bottom %}modules/{{ item.content }}.html{% endcapture %}
        {% include {{bottom}} params=item.params %}
      {% endfor %}
    {% endif %}
  {% endif %}
  {% include footer.html %}
  </body>
</html>
