<!DOCTYPE html>
<html lang="en">
  <head>{% include header.html %}</head>
  <body>
  {% include nav-main.html %}
  <div class="container">
    <div id="main" role="main">
      <h1 class="page-header">{{ page.title }}</h1>
      {{ content }}
    </div>
    <h3>{{ include.params.title }}</h3>
    <div class="row">
      {% if page.features contains "web-design" %}
      <div class="col-md-2">Web Design</div>
      {% endif %}
      {% if page.features contains "ecommerce" %}
      <div class="col-md-2">Ecommerce</div>
      {% endif %}
      {% if page.features contains "cms" %}
      <div class="col-md-2">CMS</div>
      {% endif %}
    </div>
  </div>
  {% include footer.html %}
  </body>
</html>
