---
params:
    title: Services Provided
---
<!DOCTYPE html>
<html lang="en">
  <head>{% include header.html %}
    <link href="{{ site.url }}/css/device-mockups.css" rel="stylesheet">
  </head>
  <body>
  {% include nav-main.html %}
  <div class="container">
    <div id="main" role="main">
      <div class="row">
        <div class="col-sm-5">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
        <div class="col-sm-7">
          <div class="device-mockup macbook">
            <div class="device">
              <div class="screen"><img src="{{ page.image }}" class="img-responsive"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include modules/services.html params=page.params %}
  {% include footer.html %}
  </body>
</html>
