---
layout: default
bottom:
    content: services
    params:
        title: Services Provided
---
<link href="{{ site.url }}/css/device-mockups.css" rel="stylesheet">
      <div class="row">
        <div class="col-sm-5">
          <h1>{{ page.title }}</h1>
          {{ content }}
          
          {% if page.testimonial %}
          <h3>What the client said</h3>
          <blockquote><p>{{ page.testimonial }}</p><small>{{ page.client }}, {{ page.title }}</small></blockquote>
          {% endif %}
        </div>
        <div class="col-sm-7">
          <div class="device-mockup macbook">
            <div class="device">
              <div class="screen"><img src="{{ page.image }}" class="img-responsive"></div>
            </div>
          </div>
        </div>
