---
layout: default
right:
    type: blog-side
    size: 4
    style: raw
---
<article>
  <header class="article-header">
    <h1 class="page-header">{{ page.title }}</h1>
    <div class="don-share" data-limit="3">
      <div class="don-share-total"></div>
      <div class="don-share-facebook"></div>
      <div class="don-share-twitter"></div>
      <div class="don-share-google"></div>
      <div class="don-share-linkedin"></div>
      <div class="don-share-pinterest"></div>
      <div class="don-share-stumbleupon"></div>
    </div>
    <script type="text/javascript"> 
      (function() {
        var dr = document.createElement('script');
        dr.type = 'text/javascript'; dr.async = true;
        dr.src = 'http://share.donreach.com/buttons.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dr);
      })();
    </script>
    <img alt="{{ page.title }}" src="{{ page.image }}">
    <a href="/author/adam-bouqdib" class="article-info" rel="author">
      <img class="img-thumbnail img-circle" alt="Adam Bouqdib" src="/images/people/adam-bouqdib.jpg">
      <span class="h5">By Adam Bouqdib</span>
	  <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ site.time | date_to_string }}</time>
    </a>
  </header>
  <div class="article-content">{{ content }}</div>
</article>
<hr>
<div id="disqus_thread"></div>
