 {% if page.heading %}{% capture title %}{{ page.heading }}{% endcapture %}
 {% else %}{% capture title %}{{ page.title }}{% endcapture %}{% endif %}
      <div class="jumbotron blue">
        <div class="inner">
          <div class="row">
            <div class="col-md-8">
              <div class="h1">{{ title }}</div>
              <p>{{ page.lead }}</p>
            </div>
            <div class="col-md-4 text-center">
              <div class="jumbo-icon jumbo-icon-home">
                <div class="jumbo-icon-inner">
                  <div class="device-mockup macbook ">
                    <div class="device">
                      <div class="screen"><img src="/images/pages/home_banner_screen.jpg" alt="Web design"></div>
                    </div>
                  </div>
                  <div class="preview-phone">
                    <div class="device-mockup iphone5">
                      <div class="device">
                        <div class="screen"><img src="/images/pages/home_banner_phone.jpg" alt="Responsive website design"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sunburst">
                <div class="outer">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
