 {% if include.params.title %}{% capture title %}{{ include.params.title }}{% endcapture %}
 {% elsif page.heading %}{% capture title %}{{ page.heading }}{% endcapture %}
 {% else %}{% capture title %}{{ page.title }}{% endcapture %}{% endif %}

      <div class="jumbotron blue">
        <div class="inner">
          <div class="row">
            <div class="col-md-8">
              <h1>{{ title }}</h1>
              <p>{{ page.lead }}</p>
            </div>
            <div class="col-md-4 text-center">
              <div class="jumbo-icon" style="display:block; margin-top: -10px;">
                <div style="position:relative; margin: -40px -70px;">
                  <div class="device-mockup macbook ">
                    <div class="device">
                      <div class="screen"><img src="/images/portfolio/intergalactic-music/intergalactic-music-homepage_xl.jpg" alt=""></div>
                    </div>
                  </div>
                  <div class="preview-phone">
                    <div class="device-mockup iphone5">
                      <div class="device">
                        <div class="screen"><img src="/images/portfolio/intergalactic-music/intergalactic-music-homepage_xs.jpg" alt=""></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sunburst">
                <div class="outer"> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> <b></b> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
