        <div class="box">
          <h3 class="box-header">Filter Category</h3>
          <ul class="nav nav-list">
            <li{% if page.slug == 'blog' %} class="active"{% endif %}><a href="{{ site.baseurl }}blog">All</a></li>
            <li{% if page.slug == 'announcements' %} class="active"{% endif %}><a href="{{ site.baseurl }}blog/announcements">Announcements</a></li>
            <li{% if page.slug == 'tutorials' %} class="active"{% endif %}><a href="{{ site.baseurl }}blog/tutorials">Tutorials</a></li>
          </ul>
        </div>
        <div class="box">
          <h3 class="box-header">Archive</h3>
          <ul class="nav nav-list">
            {% for post in site.categories.blog %}
            {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
            {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
            {% if month != nmonth %}
            <li><a href="{{ site.baseurl }}blog/archive/#{{ post.date | date: "%B'%y" }}">{{ post.date | date: "%B %Y" }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
