  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% capture i %}0{% endcapture %}
      {% for item in site.data.slide %}
      <li data-target="#carousel" data-slide-to="{{i}}" class="{% if {{i}} == "0" %}active{% endif %}"></li>
      {% capture i %}{{ i | plus:1 }}{% endcapture %}
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% capture i %}0{% endcapture %}
      {% for item in site.data.slide %}
      <div class="item {% if {{i}} == "0" %}active{% endif %}">
        <div class="container">
          <div class="row">
            <div class="col-sm-2">
              <img src="{{ item.image }}" alt="{{ item.title }}">
            </div>
            <div class="col-sm-5">
              <h1>{{ item.title }}</h1>
              <p>{{ item.desc }}</p>
              <p><a class="btn btn-lg btn-primary" href="{{ item.url }}" role="button">Read More</a></p>
            </div>
            <div class="col-sm-5">
              <div class="device-mockup macbook">
                <div class="device">
                  <div class="screen"><img src="/images/portfolio/huskyevents.jpg" class="img-responsive"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% capture i %}{{ i | plus:1 }}{% endcapture %}
      {% endfor %}
    </div>
    <!--a class="left carousel-control" href="#carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a--> 
  </div>
