<div class="inner">
{% for item in page.features %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  <div class="row">
    {% if thecycle == 'odd' %}
    <div class="col-sm-4"><img src="{{ item.image }}"></div>
    <div class="col-sm-8">
      <h3>{{ item.title }}</h3>
      <p>{{ item.text }}</p>
    </div>
    {% else %}
    <div class="col-sm-8">
      <h3>{{ item.title }}</h3>
      <p>{{ item.text }}</p>
    </div>
    <div class="col-sm-4"><img src="{{ item.image }}"></div>
    {% endif %}
  </div>
  {% unless item.last %}<hr>{% endunless %}
{% endfor %}
</div>