<div class="inner">
{% for item in page.features %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
  <div class="row">
    <div class="col-sm-4{% if thecycle == 'even' %} col-sm-push-8{% endif %}">
      <a href="#imgModal" role="button" data-toggle="modal" class="img-link thumbnail" data-img="{{ item.image }}" data-title="{{ item.title }}">
        <img src="{{ item.image }}">
      </a>
    </div>
    <div class="col-sm-8{% if thecycle == 'even' %} col-sm-pull-4{% endif %}">
      <h3>{{ item.title }}</h3>
      <p>{{ item.text }}</p>
    </div>
  </div>
  {% unless forloop.last %}<hr>{% endunless %}
{% endfor %}
</div>
