{{ include.params.title }}
{% if include.params.title %}
<h3>{{ include.params.title }}</h3>
{% endif %}
<ul class="box-list">
  {% for post in site.categories.portfolio limit:3 %}
    {% if {{include.params.filter}} %}
      {% if post.categories contains {{include.params.filter}} %}
    {% endif %}
      <li>
        <a class="box" href="{{ post.url }}">
          <img alt="{{ post.title }}" src="{{ post.image }}" class="img-responsive">
          <span class="title">{{ post.title }}</span>
          <span class="text-muted">{{ post.link }}</span>
        </a>
      </li>
    {% if {{include.params.filter}} %}
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
