<ul class="box-list">
  {% capture index %}1{% endcapture %}
  {% for post in site.categories.portfolio %}
    {% if index <= 3 %}
      <li>
        <a class="box" href="{{ post.url }}">
          <img alt="{{ post.title }}" src="{{ post.image }}" class="img-responsive">
          <span class="title">{{ post.title }}</span>
          <span class="text-muted">{{ post.link }}</span>
        </a>
      </li>
      {% capture index %}{{ index | plus:1 }}{% endcapture %}
    {% endif %} 
  {% endfor %}
</ul>
post.categories contains {{page.filter}} and
