{% if include.params.title %}
<h3>{{ include.params.title }}</h3>
{% endif %}
<ul class="box-list">
  {% capture ino %}0{% endcapture %}
  {% for post in site.categories.portfolio %}
      {% if {{ino}} < "4" %}
        {% capture item %}
          <li>
      {{ ino }}
            <a class="box" href="{{ post.url }}">
              <img alt="{{ post.title }}" src="{{ post.image }}" class="img-responsive">
              <span class="title">{{ post.title }}</span>
              <span class="text-muted">{{ post.link }}</span>
            </a>
          </li>
        {% endcapture %}
      
        {% if include.params.filter %}
          {% if post.categories contains include.params.filter %}
            {% capture ino %}{{ ino | plus:1 }}{% endcapture %}
            {{ item }}
          {% endif %}
        {% else %}
            {% capture ino %}{{ ino | plus:1 }}{% endcapture %}
            {{ item }}
        {% endif %}
      {% endif %}
      
  {% endfor %}
</ul>
