    <div class="grey">
      <div class="container">
        <h3 class="module-title">{{ include.params.title }}</h3>
        <ul class="box-list box-list-small">
          {% for item in site.data.services %}
          {% if page.features == nil or page.features contains {{item.alias}} %}
          <li><a class="box" href="{{ site.url }}/{{ item.url }}">
            <img src="{{ item.image }}">
            <h3>{{ item.title }}</h3>
            {% if include.params.desc %}<p class="text-muted">{{ item.desc }}</p>{% endif %}
            </a>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
