        <ul class="box-list{% unless include.params.desc %} box-list-xs{% endunless %} {{ include.params.class }} equal">
          {% for item in site.data.services %}
          {% if page.tags == nil or page.tags contains {{item.alias}} %}
          <li><a class="box" href="{{ site.baseurl }}{{ item.url }}">
            <img src="{{ item.image }}" alt="{{ item.title }}">
            {% if include.params.desc %}
            <h3 class="media-heading">{{ item.title }}</h3>
            <span class="text-muted">{{ item.desc }}</span>
            {% else %}
            <strong class="h5">{{ item.title }}</strong>
            {% endif %}
            </a>
          {% endif %}
          {% endfor %}
        </ul>
        {% if include.params.desc %}
        <p class="text-center text-lg">Not what you're looking for? <a href="/services">View all services.</a></p>
        {% endif %}