  <div class="row">
    <div class="col-md-6">
      <blockquote>
        <p>I was completely overwhelmed by ABE Media's dedication and the ease of use my website provides to its users. All my ideas and hopes have not only been improved significantly but been delivered quickly and efficiently.</p>
        <footer>Arvin Golchin, Gold Estates PPS Ltd.</footer>
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote>
        <p>ABE Media did a fantastic job for us! They are highly professional, flexible and accommodated our every need in building us a great website that surpassed our every expectation.</p>
        <footer>Baboucarr Bittaye, Money Pipe Ltd.</footer>
      </blockquote>
    </div>
  </div>
