<div id="testimonials" class="carousel slide" data-ride="carousel" data-interval="7000">
  <ol class="carousel-indicators">
    {% for item in site.data.testimonials %}
    <li data-target="#testimonials" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %}active{% endif %}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for item in site.data.testimonials %}
    <div class="item {% if forloop.first %}active{% endif %}">
      <blockquote>
        <p>{{ item.text }}</p>
        <footer>{{ item.author }}</footer>
      </blockquote>
    </div>
    {% endfor %}
  </div>
</div>
